<h1>Hola Mundo</h1>
<p>Es mi primera app en html y angular</p>
<img src="{{imagen}}" alt="imagen" width="100">
<p><b>Hola {{nombre}}, como te va hoy?</b></p>

<table border="1">
  <tr>
    <th>Index</th>
    <th>Color</th>
  </tr>
  <tr *ngFor="let color of colores; let index = index">
    <td>{{index}}</td>
    <td>{{color}}</td>
  </tr>

</table>

<div *ngIf="haynotificacion">Perro</div>

<div class="divClase">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Aliquam, asperiores dicta eius eligendi incidunt ipsum neque optio praesentium
  rem repudiandae! Aut blanditiis consequatur illo nam omnis perferendis, perspiciatis
  praesentium quae!
</div>
<hr>
Rol: {{userRole}}
<hr>
<div [ngSwitch] = "userRole">
  <div *ngSwitchCase="'admin'">
    Panel de administrador
  </div>
  <div *ngSwitchCase="'editor'">
    Panel de editor
  </div>
  <div *ngSwitchCase="'user'">
    Panel de usuario
  </div>
  <div *ngSwitchDefault>
    Acceso denegado
  </div>
</div>

